@use '/src/scss';

.input-box {
  @apply w-full h-10 pl-2 pt-2 text-xs;
  border-radius: 3px;

  &:focus {
    background-color: scss.$input-focus-bg;
    outline: 1px solid #bbb;
  }
}

.trans-effect {
  transition: all 100ms ease-out;
  transform-origin: 0% -50%;
  transform: scale(0.8);
}

.trans-effect-none {
  transition: all 100ms linear;
  transform-origin: 0% -50%;
  transform: scale(1);
}
