.upload-modal-container {
  width: calc(100% - 2rem);
  left: 1rem;
  height: calc(100% - 5rem);
  position: absolute;
  z-index: 10;
  top: 6.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}

.file-preview {
  height: auto;
  width: 100%;
  overflow-y: hidden;
  left: 2.5%;
  img {
    max-width: calc(80% - 2rem);
    max-height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .upload-modal-container {
    width: 80%;
    left: 10%;
  }
  .file-preview {
    left: 2.5%;
    height: calc(100% - 10rem);
    img {
      max-width: calc(80% - 1rem);
      max-height: 80%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .upload-modal-container {
    width: 50%;
    left: 25%;
  }

  .file-preview {
    left: 2.5%;
    height: calc(100% - 10rem);
    img {
      max-width: calc(70% - 1rem);
      max-height: 70%;
    }
  }
}
