.dashboard-container {
  padding-bottom: 100vh;
  position: relative;
}

.dashboard-feed {
  width: 100%;
  display: flex;
  position: relative;
}

.feed-photo {
  flex: 2;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
}

@media screen and (min-width: 1024px) {
  .dashboard-feed {
    width: 80%;
    margin-left: 10%;
  }

  .feed-photo {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .dashboard-feed {
    width: 60%;
    margin-left: 20%;
  }

  .feed-photo {
    max-width: 100%;
    flex: 5;
  }
}
