.dashboard-container {
  padding-bottom: 100vh;
  position: relative;
}

.dashboard-feed {
  width: 100%;
  display: flex;
  position: relative;
}

.feed-photo {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feed-follow {
  display: none;
}

@media screen and (min-width: 1024px) {
  .feed-follow {
    display: flex;
    position: sticky;
    left: 100%;
    right: 0;
    width: 200px;
    height: 100%;
    top: 10%;
  }

  .dashboard-feed {
    width: 70%;
    margin-left: 15%;
  }

  .feed-photo {
    padding: 1rem;
  }
}
