.dashboard-container {
  padding-bottom: 100vh;
  position: relative;
}

.dashboard-feed {
  width: 100%;
  display: flex;
  position: relative;
}

.feed-photo {
  flex: 3;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .dashboard-feed {
    width: 70%;
    margin-left: 15%;
  }

  .feed-photo {
    padding-top: 2rem;
  }
}
