.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-item:not(:first-child) {
  margin-left: 0.75rem;
}
.menu-item {
  cursor: pointer;
}

.menu-item-gray {
  cursor: default;
}
