.search-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 0 0.5rem;
    border-radius: 0.3rem;
  }

  .search-input {
    border-radius: 0.3rem;
    &:focus {
      outline: none;
    }
  }

  .search-result {
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    width: 100%;
    align-items: flex-start;
    padding: 0.5rem;
  }
}
